<header>
	<div class="container-fluid">
		<div class="row navigation">
			<div class="col-xs-2 col-sm-2 col-md-2"><h3>PetAlbum</h3></div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-xs-offset-8 col-sm-offset-8 col-md-offset-8 link"><%= link_to "Profile", user_path %></div>
			<div class="col-xs-1 col-sm-1 col-md-1 link"><%= link_to "Edit", edit_user_path %></div>
		</div>
	</div>
</header>
